_target_: src.model.diffusion_multigranularity_object_module.DiffusionMultiGranularityObjectModule

model:
  _target_: src.model.multigranularity.multi_granularity_object_dit.MultiGranularityObjectDiT
  img_size: ${image_size}
  dim: 256
  depth: 8
  heads: 8

noise_scheduler:
  _target_: diffusers.DDPMScheduler
  num_train_timesteps: 100
  beta_schedule: "squaredcos_cap_v2"

optimizer:
  _target_: torch.optim.AdamW
  _partial_: true
  lr: ${base_lr}
  weight_decay: 0.01

loss_type: ${loss_type}